<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S3 - 전광판시스템</title>
    <link rel="stylesheet" href="https://nonstopbebe.s3.ap-northeast-2.amazonaws.com/css/board.css">
    <!-- <script type="srcipt" src="/css/clock.js"></script> -->
</head>

<body>
    <div id="header">
        <img class="image" src="https://nonstopbebe.s3.ap-northeast-2.amazonaws.com/logo.png">
    </div>

    <div id ="container">
        <img id=img src="https://nonstopbebe.s3.ap-northeast-2.amazonaws.com/subway123.png"></img>
        <h1 id="clock" style="color:rgb(255, 153, 0);">clock</h1>
    </div>

    <script>
        var Target = document.getElementById("clock");
        function clock() {
            var time = new Date();

            var month = time.getMonth();
            var date = time.getDate();
            var day = time.getDay();
            var week = ['일', '월', '화', '수', '목', '금', '토'];

            var hours = time.getHours();
            var minutes = time.getMinutes();
            var seconds = time.getSeconds();

            Target.innerText = 
            `${month + 1}월 ${date}일` + '\n' +`${week[day]}요일 ` + '\n' + 
            `${hours < 10 ? `0${hours}` : hours}:${minutes < 10 ? `0${minutes}` : minutes}:${seconds < 10 ? `0${seconds}` : seconds}`;
                
        }
        clock();
        setInterval(clock, 1000); // 1초마다 실행
    </script>

    <div id="box">
        <% if(data.length == 0) { %>
            <marquee scrollamount="30" id="led"> 현재 열차는 정상 운행 중입니다. 오늘도 이용해주셔서 감사합니다.</marquee>
            <audio autoplay>
                <source src="https://donghapollybucket.s3.ap-northeast-2.amazonaws.com/normal.773dbb12-e0a1-43dd-8dde-6333a727c0db.mp3" type="audio/mp3">
            </audio>
            <%} else if(data[0].conges == "매우혼잡"){ %>
            <marquee scrollamount="30" id="led"> 현재 열차는 <%= data[0].station_name %>역에서 무정차 운행 중 입니다. 많은 양해 부탁드립니다. </marquee>
            <audio autoplay>
                <source src="https://donghapollybucket.s3.ap-northeast-2.amazonaws.com/d770d094-195c-4fbb-b66d-14f8917a7ad8.mp3" type="audio/mp3">
            </audio>
            <% } %>
    </div>
</body>

</html>